@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
    <div class="card-body">
        <div class="page-header">
            <h4 class="page-title"> Contact Sub Place </h4>
        </div>

        @using (Html.BeginForm("Index", "SubContact", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ContactID)
            <br />
            @Html.Label("Title")
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

            <br />
            @Html.Label("Mail")
            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
            <br />
            @Html.Label("Phone")
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
            <br />
            @Html.Label("Description")
            @Html.TextAreaFor(x => x.Description, 10, 3, new { @class = "form-control" })
            <br />
            <button class="btn btn-outline-primary">Update</button>


        }
    </div>
</div>
</div>