@model EntityLayer.Concrete.WriterMessage
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<form class="form-group" method="post">

    @Html.Label("Receiver Mail")
    @Html.TextBoxFor(x => x.Receiver, new { @class = "form-control" })
    <br />
    @Html.Label("Subject")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("Content")
    @Html.TextAreaFor(x => x.Content, 10, 3, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-primary">Send</button>
</form>
