@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NAdminLayout.cshtml";
}

@using (Html.BeginForm("Index", "Feature", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Feature Form</h4>

                <form class="forms-sample">
                    @Html.HiddenFor(x => x.FeatureID)
                    <br />
                    @Html.Label("Header")
                    @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })

                    <br />
                    @Html.Label("Name")
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    <br />
                    @Html.Label("Title")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />
                    <button class="btn btn-outline-primary">Update</button>


                    
                </form>
            </div>
        </div>
    </div>
}


